@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Square+Peg&display=swap");


*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.dark-mode{  
  --body-color: #262931;
  --display-color: #0f1114;
  --operators-color: #B75F5F;
  --general-color: #1F515D;
  --numbers-color: #FFFF;

}

.light-mode{  
  --body-color: #FFFF;
  --display-color: #FAFAFA;
  --operators-color: #B75F5F;
  --general-color: #1F515D;
  --numbers-color: #191C22;

}


html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-size: 62.5%;
  font-family: "ًRoboto", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  margin-right: auto;
  margin-left: auto;
  font-size: 1.5rem;
  background-color: var(--general-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button{
  padding:1rem;
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 2rem;
}

button:active{
  background-color: var(--display-color);

}

ul{
  list-style: none;
}

.equals{
  color: var(--operators-color);
  border-radius: 0 0 2rem 0;
}

.container {
  width: 1400px;
  max-width: 95%;
  margin: auto;
  padding: 5rem 1rem;
  
}

/* calculator design */

.calculator__wrapper{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45rem;
border-radius: 2rem;
}

.calculator__buttons{
  display: grid;
  height: 35rem;
  width: 45rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  border-radius: 2rem;
}

.calculator__btn{
  background-color: var(--body-color);
}

.gen{
  color: var(--general-color);
}

.operator{
  color: var(--operators-color)
}

.number{
  color: var(--numbers-color);
}


/* phone design */

.phone{
  /* width: 50rem; */
  margin: auto;
  background-color: var(--body-color);
  width: 45rem;
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  
}

.phone-props{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--numbers-color);
  background-color: var(--display-color);
  border-radius: 2rem 2rem 0 0;
}

.top-right{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45rem;
    font-size: 2rem;
    padding: 1rem 2rem;
}
.bottom-bar {
  padding-top:3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45rem;
    font-size: 3rem;
    padding: 1.5rem 2rem;
}

.history, .reverse{
  cursor: pointer;
}

.calculator__display{
  height: 20rem;
  width: 45rem;
  background-color: var(--display-color);
  color: var(--numbers-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 1.5rem;
}

.top-line{
  font-size: 3rem;
}

.bottom-line{
  
}

.bottom-line input{
  border: none;
  outline: none;
  background: transparent;
  /* padding: 1rem; */
  font-size: 3rem;
  /* direction: rtl; */
  color: var(--numbers-color);
  width: 100%;
}



/* history page */

.light-mode{
  cursor: pointer;
}

